body {
    margin: 0;
    background-color: #E6E6E6;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

.splash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 66vh;
}

.splash-title {
    font-family: 'Bebas Neue', cursive;
    font-size: 8rem;
}

.btn {
    background-color: #BADA55;
    padding: .5em 1em;
    outline: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    border-radius: .4rem;
    color: #333;
    font-size: inherit;
}

.btn:hover, .btn:focus {
    opacity: 0.3;
}

.link-container {
    margin: 1.5rem;
}

.splash-btn {
    font-size: 1.5rem;
    margin-left: 2rem;
}

.splash-btn:first-child {
    margin-left: 0;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.battleship-grid {
    margin: 2vmin;
    display: grid;
    background-color: hsl(200, 100%, 50%);
    grid-template-rows: repeat(10, 4.6vmin);
    grid-template-columns: repeat(10, 4.6vmin);
}

.taken, .ship {
    background-color: hsl(0, 0%, 80%);
}

.grid-display {
    display: flex;
}

.ship > div {
    width: 4.6vmin;
    height: 4.6vmin;
}

.ship {
    display: flex;
    flex-wrap: wrap;
    margin: 1vmin;
    width: calc(4.6vmin * var(--width, 1));
    height: calc(4.6vmin * var(--height, 1));
    border-radius: 2.3vmin;
}

.battleship-grid div {
    /* any div inside the div with class grid */
    border: 1px solid hsla(0, 0%, 100%, .2);
}


.destroyer-container {
    --width: 2;
}

.destroyer-container-vertical {
    --height: 2;
    --width: 1;
}

.submarine-container {
    --width: 3;
}

.submarine-container-vertical {
    --height: 3;
    --width: 1;
}

.cruiser-container {
    --width: 3;
}

.cruiser-container-vertical {
    --height: 3;
    --width: 1;
}

.battleship-container {
    --width: 4;
}

.battleship-container-vertical {
    --height: 4;
    --width: 1;
}

.carrier-container {
    --width: 5;
}

.carrier-container-vertical {
    --height: 5;
    --width: 1;
}

.hidden-info {
    font-size: 1.5rem;
    align-items: center;
    flex-direction: column;
}

.info-text {
    margin: 1rem;
}

.boom {
    background-color: red;
}

.miss {
    background-color: black;
}

.connected, .ready {
    font-weight: normal;
}

.connected span,
.ready span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: red;
}

span.green {
    background: green;
}